<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Aministrator</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Danh mục sản phẩm</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Index</li>
    </ol>
</nav>
<!-- Condensed Table -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <a (click)="addModal.show()" class="btn btn-success  waves-effect">
                    <i class="material-icons">add</i>
                    <span class="icon-name">Thêm</span>
                </a>
                <button type="button" (click)="getAllData()" class="btn btn-primary waves-effect search">
                    <i class="material-icons">search</i>
                    <span class="icon-name">Tìm kiếm</span>
                </button>
                <input type="text" class="search" placeholder="SEARCH...">

            </div>
            <div class="body table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th width="10%">ID</th>
                            <th width="35%">Name</th>
                            <th width="20%">Create Date</th>
                            <th width="10%">Status</th>
                            <th width="25%">#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let productCategory of listProductCategory">
                            <th>{{productCategory.ID}}</th>
                            <td>{{productCategory.Name}}</td>
                            <td>{{productCategory.CreatedDate}}</td>
                            <td align="center">
                                <button style="width: 78px;" type="button" class="btn waves-effect" [ngClass]="{'btn-danger':productCategory.Status == false,
                                    'btn-info':productCategory.Status == true}">
                                    {{productCategory.Status | statusFilter}}</button>
                            </td>
                            <td>
                                <a type="button" (click)="selectEditPC(productCategory); editModal.show();" class="btn btn-success  waves-effect">
                                    <i class="material-icons">create</i>
                                </a>
                                <a type="button" routerLink="/detail-pc/{{productCategory.ID}}" class="btn btn-info waves-effect">
                                    <i class="material-icons">content_paste</i>
                                </a>
                                <a type="button" routerLink="/delete-pc/{{productCategory.ID}}" class="btn btn-danger  waves-effect">
                                    <i class="material-icons">delete</i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div bsModal #addModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-sizes-name1" class="modal-title pull-left">Thêm mới danh mục sản phẩm</h4>
                <button type="button" class="close pull-right" (click)="addModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <app-product-category-add></app-product-category-add>
        </div>
    </div>
</div>

<div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-sizes-name1" class="modal-title pull-left">Sửa danh mục sản phẩm</h4>
                <button type="button" class="close pull-right" (click)="editModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <app-product-category-edit [productCategory]="selectedProductCategory"></app-product-category-edit>
        </div>
    </div>
</div>

<!-- <div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name3">
    <app-product-category-delete ></app-product-category-delete>
</div> -->
<!-- #END# Condensed Table -->
