<div class="modal-body" *ngIf="productCategory">
  <div class="card">
    <div class="body">
      <form id="form_advanced_validation" method="POST">
        <div class="form-group form-float">
          <div class=" form-line focused">
            <input type="text" id="form-control" [(ngModel)]="productCategory.Name" (keyup)="getSeoTitle($event)" class="form-control" name="name" required>
            <label class="form-label">Tên danh mục</label>
          </div>
          <div class="help-info">Tên danh mục không được để trống</div>
        </div>
        <div class="form-group form-float">
          <div class=" form-line focused">
            <input type="text" [(ngModel)]="productCategory.Alias" class="form-control" name="seoTitle" required>
            <label class="form-label">Tiêu đề SEO</label>
          </div>
          <div class="help-info">Tiêu đề SEO không được để trống</div>
        </div>

        <div class="form-group form-float">
          <div class=" form-line focused">
            <select class="form-control show-tick">
              <option>Mustard</option>
            </select>
            <label class="form-label">Danh mục cha</label>
          </div>
        </div>

        <div class="form-group form-float">
          <div class=" form-line focused">
            <input type="number" [(ngModel)]="productCategory.DisplayOrder" class="form-control" name="displayOrder">
            <label class="form-label">Thứ tự</label>
          </div>
          <!-- <div class="help-info">Numbers only</div> -->
        </div>

        <div class="form-group form-float">
          <div class=" form-line focused">
            <input type="text" [(ngModel)]="productCategory.Image" class="form-control" name="image" max="256" required>
            <label class="form-label">Hình ảnh</label>
          </div>
          <div class="help-info">Hình ảnh chỉ có 256 kí tự</div>
        </div>
        <div class="form-group form-float">
          <div class=" form-line focused">
            <input type="text" [(ngModel)]="productCategory.MetaKeyword" class="form-control" name="metaKeyword" required>
            <label class="form-label">Meta Keyword</label>
          </div>
          <!-- <div class="help-info">Numbers only</div> -->
        </div>
        <div class="form-group form-float">
          <div class=" form-line focused">
            <input type="text" [(ngModel)]="productCategory.MetaDescription" class="form-control" name="metaDescription" required>
            <label class="form-label">Meta Description</label>
          </div>
          <!-- <div class="help-info">Ex: 1234-5678-9012-3456</div> -->
        </div>
        <div class="form-group form-float">
          <div class="checkbox">
            <input type="checkbox" [(ngModel)]="productCategory.Status"  id="status"  class="filled-in" name="status" />
            <label for="status" (click)="checkboxClick($event)">Trạng thái</label>
          </div>
          <div class="checkbox">
            <input type="checkbox" [(ngModel)]="productCategory.HomeFlag" id="homeFlag" name="homeFlag" class="filled-in" />
            <label for="homeFlag"(click)="checkboxClick($event)">Hiển thị trang chủ</label>
          </div>
        </div>
        <button class="btn btn-primary waves-effect" (click)="saveProductCategory($event)" type="submit">Save</button>
      </form>
    </div>
  </div>
</div>
